<h2>Produtos</h2>
<div>
<%= link_to 'Cadastrar produto', new_product_path %>
<% @products.each do |p| %>
  <div>
    Produto: <%= p.name %> - <%= p.product_category.name %> - R$ <%= p.price %>
  </div>  
<% end %>
</div>

<% if @products.empty? %>
  <p>Não existem produtos cadastrados </p>
<% end %>

