<h1>Fretes</h1>

<%= link_to 'Cadastrar Produto', new_product_path %>

<% @products.each do |product| %>
  <dl class="card" style="width: 18rem;">
    <h4><%= product.name %></h4>
    <dt>Preço: </dt>
    <dd><%= number_to_currency(product.price) %></dd>
    <dt>Categoria: </dt>
    <dd><%= product.product_category.name %></dd>
  </dl>
<% end%>